.Xacc{
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.Xacc_title{
  text-align:center;
  font-size:2em;
  -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;      
  user-select: none; 
  background:black;
  color:gainsboro;   
  transition:color 0.25s;
}
.Xacc_title:hover{
  color:white;
}
.Xacc_text{
  padding:1vw;
  overflow: hidden;
}
